<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

<div id="contentPadding" style="height: 70px"></div>
<div th:replace="fragments.html :: nav-bar"></div>
<div th:replace="fragments.html :: off-canvas(${settingsMenu})"></div>
<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-3 col-md-3" id="side-bar-col" style="padding: 0px;">
      <div th:replace="fragments.html :: side-bar(${settingsMenu})"></div>
    </div>
    <div class="col col-md-9" id="content-col" >
      <div th:replace="fragments.html::profileInfo"></div>
      <ul th:replace="fragments.html::settingsTab (${settingsMenu})"></ul>

      <div class="row mt-4 justify-content-center">
        <div class="col-12">

          <h3 class="mb-3" th:text="#{settings.account}">계정</h3>
          <form class="needs-validation" th:action="@{/settings/account}" th:object="${settingsAccountForm}" method="post" novalidate>

            <div th:if="${accountChanged}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
              <span th:text="#{settings.account.changed}" style="text-align: center">계정 정보를 수정하였습니다.</span>
            </div>

            <div class="form-group mb-3">
              <label for="nickname" th:text="#{nickname}">닉네임</label>
              <input id="nickname" type="text" th:field="*{nickname}" class="form-control"
                     th:placeholder="#{signup.nickname.placeholder}" aria-describedby="nicknameHelp" required min="3" max="20" />
              <small id="nicknameHelp" class="form-text text-muted" th:text="#{signup.nickname.help}" style="display: block">
                3자 이상 20자 이내의 영문자, 한글, 숫자, 특수기호('-' '_')만 사용가능합니다.
              </small>
<!--              <small class="invalid-feedback" th:text="#{signup.nickname.error.blank}" style="display: block">닉네임을 입력하세요.</small>-->
              <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" style="display: block">
                중복 닉네임 혹은 짧은 닉네임 혹은 특수문자 닉네임
              </small>
            </div>

            <div class="form-group mb-3">
              <div class="form-check form-switch">
                <input type="checkbox" th:field="*{upvoteAlert}" class="form-check-input" id="upvoteAlert">
                <label class="form-check-label" for="upvoteAlert" th:text="#{settings.upvoteAlert}">업보트 알림</label>
              </div>
              <small class="form-text text-muted" th:text="#{settings.upvoteAlert.help}">
                업보트 알림 수신 여부를 변경합니다.
              </small>
            </div>

            <div class="form-group mb-3">
              <div class="form-check form-switch">
                <input type="checkbox" th:field="*{replyAlert}" class="form-check-input" id="replyAlert">
                <label class="form-check-label" for="replyAlert" th:text="#{settings.replyAlert}">댓글 알림</label>
              </div>
              <small class="form-text text-muted" th:text="#{settings.replyAlert.help}" style="display: block">
                댓글 알림 수신 여부를 변경합니다.
              </small>
            </div>

            <div class="row justify-content-between">
              <div class="col-6 mt-2">
                <div class="form-group mb-3">
                  <button class="btn btn-primary" type="submit"
                          aria-describedby="submitHelp" th:text="#{settings.submit}">수정하기</button>
                </div>
              </div>
              <div class="col-6 mt-2 text-end">
                <div th:text="#{settings.signout}">회원탈퇴</div>
              </div>
            </div>


<!--            <div class="form-group mb-3">-->
<!--              <label for="password" th:text="#{password}">패스워드</label>-->
<!--              <input id="password" type="password" th:field="*{password}" class="form-control"-->
<!--                     aria-describedby="passwordHelp" required minlength="8" maxlength="50">-->
<!--              <small id="passwordHelp" class="form-text text-muted" th:text="#{common.password.help}">-->
<!--                8자 이상 50자 이내로 입력하세요.-->
<!--              </small>-->
<!--              <small class="invalid-feedback" th:text="#{common.password.blank}">패스워드를 입력하세요.</small>-->
<!--              <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">-->
<!--                Password Error-->
<!--              </small>-->
<!--            </div>-->

<!--            <div class="form-group mb-3">-->
<!--              <label for="passwordConfirm" th:text="#{common.passwordConfirm}">패스워드 확인</label>-->
<!--              <input id="passwordConfirm" type="password" th:field="*{passwordConfirm}" class="form-control"-->
<!--                     aria-describedby="passwordConfirmHelp" required minlength="8" maxlength="50">-->
<!--              <small id="passwordConfirmHelp" class="form-text text-muted" th:text="#{common.password.help}">-->
<!--                8자 이상 50자 이내로 입력하세요.-->
<!--              </small>-->
<!--              <small class="invalid-feedback" th:text="#{common.password.blank}">패스워드를 입력하세요.</small>-->
<!--              <small class="form-text text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">-->
<!--                Password confirm Error-->
<!--              </small>-->
<!--            </div>-->

          </form>
        </div>
      </div>

<!--      <h2 th:text="#{settings.membership}">맴버십 변경</h2>-->
<!--      <div class="row mt-4 justify-content-center">-->
<!--        <div class="col-12">-->
<!--          asdf-->
<!--        </div>-->
<!--      </div>-->

    </div>
  </div>
</div>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>