<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body onload="gridLazyView()" class="bg-light">

<div id="contentPadding" style="height: 70px"></div>
<div th:replace="fragments.html :: nav-bar"></div>
<div th:replace="fragments.html :: off-canvas(${settingsMenu})"></div>
<div class="container">
  <div id="gridContent" class="row justify-content-center row-col-md-auto d-none mt-4" >
    <div class="col-3 d-none" id="side-bar-col" style="padding: 0px;" >
      <div th:replace="fragments.html :: side-bar(${settingsMenu})"></div>
    </div>
    <div class="col" id="content-col">
      <div th:replace="fragments.html::profileInfo"></div>
      <ul th:replace="fragments.html::settingsTab (${settingsMenu})"></ul>

      <div class="row mt-4 justify-content-center">
        <div class="col-12">

          <h2 class="mb-3" th:text="#{password}">패스워드</h2>
          <form class="needs-validation" th:action="@{/settings/password}" th:object="${settingsPasswordForm}" method="post" novalidate>

            <div th:if="${passwordChanged}" class="alert alert-info alert-dismissible" role="alert">
              <span th:text="#{settings.password.changed}" style="text-align: center">비밀번호를 변경하였습니다.</span>
            </div>

            <div th:if="${#fields.hasErrors('passwordConfirm')}" class="alert alert-danger" role="alert">
              <span th:text="#{common.passwordConfirm.error}" style="text-align: center">패드워드와 패스워드 확인이 일치하지 않습니다.</span>
            </div>

            <div class="form-group mb-3">
              <label for="password" th:text="#{settings.password}">새 비밀번호</label>
              <input id="password" name="password" type="password" th:field="*{password}" class="form-control"
                     aria-describedby="passwordHelp" required minlength="8" maxlength="50">
              <small id="passwordHelp" class="form-text text-muted" th:text="#{common.password.help}">
                8자 이상 50자 이내로 입력하세요.
              </small>
              <small class="invalid-feedback" th:text="#{common.password.blank}">패스워드를 입력하세요.</small>
              <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="display: block">
                짧거나 긴 패스워드
              </small>
            </div>

            <div class="form-group mb-3">
              <label for="passwordConfirm" th:text="#{common.passwordConfirm}">패스워드 확인</label>
              <input id="passwordConfirm" name="passwordConfirm" type="password" th:field="*{passwordConfirm}" class="form-control"
                     aria-describedby="passwordConfirmHelp" required minlength="8" maxlength="50">
              <small id="passwordConfirmHelp" class="form-text text-muted" th:text="#{common.passwordConfirm.help}">
                비밀번호를 다시 한번 입력해주세요.
              </small>
              <small class="invalid-feedback" th:text="#{common.passwordConfirm.blank}">비밀번호 확인을 입력하세요.</small>
            </div>

            <div class="form-group mb-3">
              <button class="btn btn-primary" type="submit"
                      aria-describedby="submitHelp" th:text="#{settings.submit}">수정하기</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/node_modules/jdenticon/dist/jdenticon.min.js}"></script>
<script th:replace="fragments.html :: form-validation"></script>
<script type="text/javascript">
  var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

  var login = function () {
    location.href = contextPath + '/login';
  };
</script>
</body>
</html>