<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div class="container">

    <div class="py-5 text-center">
        <p class="lead">S w e e t M e m e</p>
        <h2>sign up</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-6" action="#"
              th:action="@{/sign-up}" th:object="${signUpForm}" method="post" novalidate>

            <div class="form-group mb-3">
                <label for="nickname" th:text="#{nickname}">닉네임</label>
                <input id="nickname" type="text" th:field="*{nickname}" class="form-control"
                       th:placeholder="#{signup.nickname.placeholder}" aria-describedby="nicknameHelp" required minlength="3" maxlength="20" />
                <small id="nicknameHelp" class="form-text text-muted" th:text="#{signup.nickname.help}">
                    문자와 숫자로만 3자 이상 20자 이내로 입력하세요.
                </small>
                <small class="invalid-feedback" th:text="#{signup.nickname.error.blank}">닉네임을 입력하세요.</small>
                <small class="form-text text-danger" th:text="#{signup.nickname.error}" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">
                    Nickname Error
                </small>
            </div>


            <div class="form-group mb-3">
                <label for="email" th:text="#{email}">이메일</label>
                <input id="email" type="email" th:field="*{email}" class="form-control"
                       placeholder="your@email.com" aria-describedby="emailHelp" required>
                <small id="emailHelp" th:text="#{signup.email.help}" class="form-text text-muted">
                    스터디올래는 사용자의 이메일을 공개하지 않습니다.
                </small>
                <small class="invalid-feedback" th:text="#{signup.email.error.blank}">이메일을 입력하세요.</small>
                <small class="form-text text-danger" th:text="#{signup.email.error}"
                       th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
            </div>

            <div class="form-group mb-3">
                <label for="password" th:text="#{password}">패스워드</label>
                <input id="password" type="password" th:field="*{password}" class="form-control"
                       aria-describedby="passwordHelp" required minlength="8" maxlength="50">
                <small id="passwordHelp" class="form-text text-muted" th:text="#{signup.password.help}">
                    8자 이상 50자 이내의 영문자, 숫자, 특수기호('-' '_')만 사용가능합니다.
                </small>
                <small class="invalid-feedback" th:text="#{signup.password.blank}">패스워드를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
            </div>

            <div class="form-group mb-3 d-grid gap-2">
                <button class="btn btn-primary" type="submit"
                        aria-describedby="submitHelp" th:text="#{signup}">회원가입</button>
                <small id="submitHelp" class="form-text text-muted">
                    <a href="#">약관</a>에 동의하시면 가입하기 버튼을 클릭하세요.
                </small>
            </div>

        </form>
    </div>
</div>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>
