<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>

<body onload="gridLazyView()" class="bg-light">
<div id="contentPadding" style="height: 70px"></div>
<div th:replace="fragments.html :: nav-bar"></div>
<div th:replace="fragments.html :: off-canvas('post')"></div>
<div class="container">
  <div id="gridContent" class="row justify-content-center row-col-md-auto d-none mt-4" >
    <div class="col-3 d-none" id="side-bar-col" style="padding: 0px;" >
      <div th:replace="fragments.html :: side-bar('post')"></div>
    </div>
    <div class="col" id="content-col">
      <section>

        <article class="mx-1">
          <header>
            <div class="row">
              <div class="col-10">
                <img th:src="@{'/sections/' + ${post.belongedSectionType}}" class="rounded" width="20px" height="20px" />
                <small th:text="${post.belongedSectionType}"></small><small> · </small>
                <small th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></small>
              </div>
              <div class="col-2 text-end">

                <div class="dropdown">
                  <button type="button" class="btn btn-light btn-sm" id="postDropdownMenuBtn" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="postDropdownMenuBtn">
                    <li><a class="dropdown-item" th:href="@{${DOWNLOAD_URL} + ${post.postImageUrl}}">download</a></li>
                    <li th:if="${profileMenu != null}"><a class="dropdown-item">delete</a></li>
                    <li th:if="${currentMenu != null}"><a href="#" class="dropdown-item">report</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <a>
                <span class="col fw-bold fs-3 m-1" style="word-wrap: break-word;" th:text="${post.title}"></span>
              </a>
            </div>

            <div class="row justify-content-between">
              <div class="col-8 mt-2">
                <div sec:authorize="isAuthenticated()" th:id="${post.id}" style="display: inline">
                  <input type="button" id="upVoteBtn" class="btn btn-sm ms-1"  th:classappend="${upVotedIds.contains(post.id)} ? 'btn-primary' : 'btn-outline-primary'"
                         th:onclick="|vote('post', ${post.id}, true)|" th:value="'▲ ' + ${post.getVote().upVote}" />
                  <input type="button" id="downVoteBtn" class="btn btn-sm ms-1" th:classappend="${downVotedIds.contains(post.id)} ? 'btn-primary' : 'btn-outline-primary'"
                         th:onclick="|vote('post', ${post.id}, false)|" th:value="'▼ ' + ${post.getVote().downVote}" />
                </div>
                <div sec:authorize="!isAuthenticated()" th:id="${post.id}" style="display: inline">
                  <input type="button" id="upVoteBtn" class="btn btn-outline-primary btn-sm ms-1"
                         th:onclick="|window.location.href = @{/} + 'login'|" th:value="'▲ ' + ${post.getVote().upVote}" />
                  <input type="button" id="downVoteBtn" class="btn btn-outline-primary btn-sm ms-1"
                         th:onclick="|window.location.href = @{/} + 'login'|" th:value="'▼ ' + ${post.getVote().downVote}" />
                </div>
                <div style="display: inline">
                  <button type="button" class="btn btn-outline-primary btn-sm ms-1" th:onclick="|window.open(@{/} + 'post/' + ${post.id}, '_blank').focus()|">
                    <i class="fa fa-commenting" aria-hidden="true"></i>&nbsp;<span th:text="${post.commentCount}"></span>
                  </button>
                </div>
              </div>


              <div class="col-2 mt-2 me-1 text-end">
                <!-- TODO 공유기능 추가 -->
                <button type="button" class="btn btn-outline-primary btn-sm">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </header>
          <picture>
            <div class="row justify-content-center rounded mt-2" style="background-color: #11111110; margin: 3px">
              <div class="col-auto">
                <video preload="metadata" muted autoplay loop th:if="${post.getContentType()} == 'mp4'" th:src="@{${FILE_URL} + ${post.postImageUrl}}"
                       style="min-width: 200px; width: 100%; max-width: 400px; height: auto; cursor: pointer;" onclick="toggleMute(this)"></video>
                <img th:if="${post.getContentType()} != 'mp4'" th:src="@{${FILE_URL} + ${post.postImageUrl}}" style="min-width: 200px; width: 100%; max-width: 400px; height: auto;">
              </div>
            </div>
          </picture>
          <span th:each="tag : ${tags}">
              <button type="button" class="btn btn-secondary btn-sm m-1" th:text="${tag}"></button>
            </span>
          <div class="ms-1 mt-4">
            <span th:text="${post.commentCount}" class="h5"></span>&nbsp;<span th:text="Comments" class="h5"></span>
          </div>
          <hr/>
        </article>
      </section>
      <section class="p-1">
        <div sec:authorize="isAuthenticated()">
          <div class="row">
            <div class="col-2">
                <svg th:if="${member.memberInfo.picImage} == null" th:data-jdenticon-value="${#authentication.name}"
                     width="30px" height="30px" style="padding: 0px; margin: 5px" class="rounded border bg-light"></svg>
                <img th:if="${member.memberInfo.picImage} != null" th:src="@{'/avatar/' + ${member.memberInfo.picImage}}"
                     width="30px" height="30px" style="padding: 0px; margin: 5px" class="rounded border"/>
            </div>
            <div class="col">
              <form class="needs-validation col-sm-6" action="#" th:object="${commentForm}" th:action="@{'/post/' + ${post.id}}" method="post" enctype="multipart/form-data" novalidate>
                <!-- 코멘트-->
                <div class="form-group">
                  <input th:field="*{content}" type="text" class="form-control" placeholder="코멘트 입력" required min="1" max="100" />
                </div>
                <div class="form-group mb-3 d-grid gap-2">
                  <button class="btn btn-primary" type="submit" th:text="#{upload}">업로드</button>
                </div>

              </form>
            </div>
          </div>

        </div>

        <div sec:authorize="!isAuthenticated()">
          <div class="row justify-content-between">
            <div class="col" th:text="#{comment.anonymous}">로그인으로 댓글남기기</div>
            <div class="col-4 text-end">
              <button type="button" class="btn btn-secondary btn-sm" th:text="#{login}" th:onclick="|window.location.href = @{/} + 'login'|" style="display: inline"></button>
              <!--                <button type="button" class="btn btn-primary btn-sm" th:text="#{signup}" style="display: inline"></button>-->
            </div>
          </div>
        </div>

        <div th:each="comment : ${comments}">
          <div class="row">
            <div class="col-2">
              <a class="round" th:href="@{'/user/'+${comment.commenterInfo.head}+'/home'}"  href="#" role="button">
                <svg th:if="${comment.commenterInfo.getPicImage()} == null" th:data-jdenticon-value="${#authentication.name}"
                     width="30px" height="30px" style="padding: 0px; margin: 5px" class="rounded border bg-light"></svg>
                <img th:href="@{'user/' + ${comment.commenterInfo.head} + '/home'}" th:if="${comment.commenterInfo.getPicImage()} != null" th:src="@{'/avatar/' + ${comment.commenterInfo.getPicImage()}}"
                     width="30px" height="30px" style="padding: 0px; margin: 5px" class="rounded border"/>
              </a>
            </div>
            <div class="col">
              <span th:text="${comment.commenterInfo.head}"></span>
              <img th:if="${comment.commenterInfo.stateCode} != null" th:src="'https://lipis.github.io/flag-icon-css/flags/4x3/' + ${comment.commenterInfo.stateCode} + '.svg'"
                   style="width: 25px; height: 25px; vertical-align: text-bottom" class="rounded border">
              <div th:text="${comment.content}"></div>
              <div th:if="${comment.descriptionImg} != null">
                <img th:src="@{'/comment/' + ${comment.commenterInfo.getPicImage()}}" width="100%" class="rounded border"/>
              </div>
            </div>
            <div>
              [replay]
              <div sec:authorize="isAuthenticated()" th:id="${comment.id}" style="display: inline">
                <input type="button" id="upVoteCmtBtn" class="btn btn-sm ms-1" th:classappend="${upVoteCommentIds.contains(comment.id)} ? 'btn-primary' : 'btn-outline-primary'"
                       th:onclick="|vote('comment', ${comment.id}, true)|" th:value="'▲ ' + ${comment.getVote().upVote}" />
                <input type="button" id="downVoteCmtBtn" class="btn btn-sm ms-1" th:classappend="${downVoteCommentIds.contains(comment.id)} ? 'btn-primary' : 'btn-outline-primary'"
                       th:onclick="|vote('comment', ${comment.id}, false)|" th:value="'▼ ' + ${comment.getVote().downVote}" />
              </div>
              <div sec:authorize="!isAuthenticated()" th:id="${comment.id}" style="display: inline">
                <input type="button" id="upVoteCmtBtn" class="btn btn-outline-primary btn-sm ms-1"
                       th:onclick="|window.location.href = @{/} + 'login'|" th:value="'▲ ' + ${post.getVote().upVote}" />
                <input type="button" id="downVoteCmtBtn" class="btn btn-outline-primary btn-sm ms-1"
                       th:onclick="|window.location.href = @{/} + 'login'|" th:value="'▼ ' + ${post.getVote().downVote}" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <script th:src="@{/node_modules/jdenticon/dist/jdenticon.min.js}"></script>
  <script th:replace="fragments.html :: ajax-csrf-header"></script>
  <script th:replace="fragments.html :: form-validation"></script>
  <script th:replace="fragments.html :: videoAutoPlay"></script>
  <script th:replace="fragments.html :: voteAjax"></script>
</div>
</body>
</html>