<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments.html :: head"></head>

<body onload="gridLazyView()" class="bg-light">
<div id="contentPadding" style="height: 70px"></div>
<div th:replace="fragments.html :: nav-bar"></div>
<div th:replace="fragments.html :: off-canvas(currentMenu=${profileMenu})"></div>
<div class="container">
  <div id="gridContent" class="row justify-content-center row-col-md-auto mt-4" >
    <div class="col-3 d-none" id="side-bar-col" style="padding: 0px;" >
      <div th:replace="fragments.html :: side-bar(currentMenu=${profileMenu})"></div>
    </div>
    <div class="col" id="content-col">
      <div th:replace="fragments.html::profileInfo"></div>
      <ul th:replace="fragments.html::profileTab (${profileMenu})"></ul>

      <section th:replace="fragments.html :: postSection"></section>
    </div>
  </div>
  <script th:src="@{/node_modules/jdenticon/dist/jdenticon.min.js}"></script>
  <script th:replace="fragments.html :: ajax-csrf-header"></script>
  <script th:replace="fragments.html :: videoAutoPlay"></script>
  <script th:replace="fragments.html :: voteAjax"></script>
  <script type="text/javascript">
    var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

    var login = function () {
      location.href = contextPath + '/login';
    };
  </script>
</div>
</body>
</html>