<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<div id="contentPadding" style="height: 70px"></div>
<div th:replace="fragments.html :: nav-bar"></div>
<div th:replace="fragments.html :: off-canvas(currentMenu='profile')"></div>
<div class="container">
  <div class="row mt-4 justify-content-center">
    <div>
      <div class="col-3 col-md-3" id="side-bar-col" style="padding: 0px;">
        <div th:replace="fragments.html :: side-bar(currentMenu='profile')"></div>
      </div>
      <div class="col col-md-9" id="content-col" >
        <div th:replace="fragments.html::profileInfo"></div>
        <ul th:replace="fragments.html::profileTab (${profileMenu})"></ul>

        <section th:replace="fragments.html :: postSection"></section>
      </div>
    </div>
  </div>
  <script th:src="@{/node_modules/jdenticon/dist/jdenticon.min.js}"></script>
  <script th:replace="fragments.html :: ajax-csrf-header"></script>
  <script th:replace="fragments.html :: videoAutoPlay"></script>
  <script th:replace="fragments.html :: voteAjax"></script>
  <script type="text/javascript">
    var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

    var login = function () {
      location.href = contextPath + '/login';
    };
  </script>
</div>
</body>
</html>