<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-------------------------- fragments ---------------------------------------------------->
<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <title>Sweet Meme</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />

  <style id="commonStyle">
    body::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0);

    }

    body::-webkit-scrollbar
    {
      background-color: rgb(33, 37, 41);
      width: 3px;
    }

    body::-webkit-scrollbar-thumb
    {
      border-radius: 3px;
      background-color: rgb(248, 249, 250);
    }
  </style>
  <style id="forMobilePage">
    .container {
      width: 80%;
    }

    @media (max-width: 700px) {
      .container {
        width: 100%;
      }
    }
  </style>
  <style id="forOffCanvasAndSideBar">
    #offcanvas {
      transition: all 0.2s ease;
    }
    #offcanvas {
      transition: all 0.2s ease;
    }

    .nav > .nav-item :hover{
      background-color: #11111110;
      background-blend-mode: multiply;

    }
    .nav > .nav-item > .nav-link{
      color: black;
    }
    #side-bar {
      top: 80px;
      position: sticky;
      overflow: auto;
      height: 500px;
      max-width: 200px;
      -webkit-overflow-scrolling: touch;
    }
    #side-bar::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.22);

    }

    #side-bar::-webkit-scrollbar
    {
      width: 2px;
    }

    #side-bar::-webkit-scrollbar-thumb
    {
      border-radius: 2px;
      background-color: rgba(33, 37, 41, 0.82);
    }
  </style>
  <style id="forNaviBar">
    #nav-bar {
      transition: top 0.3s;
    }
    #navbar {
      transition: height 0.3s ease;
    }
  </style>

  <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

</head>
<nav th:fragment="nav-bar" id="nav-bar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#" th:href="@{/}">SweetMeme</a>

    <a class="navbar-toggler btn me-auto" data-bs-toggle="offcanvas"
       href="#offcanvas" role="button" aria-controls="offcanvas">
      <
    </a>

    <!-- 작은화면 메뉴 -->
    <button class="navbar-toggler" id="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">

      <!-- 좌측 컨텐츠 -->
      <ul id="nav-left-content" class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>


      <!-- 우측 컨텐츠 -->
      <ul class="navbar-nav .justify-content-end">
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" onclick="toggleTheme();">toggleTheme</a>-->
<!--        </li>-->
        <!-- 게스트 -->
        <li class="nav-item" sec:authorize="!isAuthenticated()">
          <a class="nav-link" href="#" th:href="@{/login}">Log in</a>
        </li>

        <li class="nav-item" sec:authorize="!isAuthenticated()">
          <a class="nav-link" href="#" th:href="@{/sign-up}">Sign up</a>
        </li>


        <!-- 멤버 -->
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" href="#" th:href="@{/notifications}">
            noti
          </a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" href="#" th:href="@{/upload}">
            + upload
          </a>
        </li>

        <!-- 유저 드롭다운 메뉴 -->
        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown"
             aria-expanded="false" sec:authentication="name">UserDropdown</a>
          <ul class="dropdown-menu dropdown-menu-light text-small shadow" aria-labelledby="dropdown07">

            <li><a class="dropdown-item" th:href="@{'/user/' + ${#authentication.name}}" th:text="#{myProfile}">내 프로필</a></li>
            <li><a class="dropdown-item" href="#" th:text="#{settings}">설정</a></li>
            <li>
              <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                <button class="dropdown-item" th:text="#{logout}" type="submit">
                  logout
                </button>
              </form>
            <li><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;&nbsp;SWEETMEME © 2021</span></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <script id="toggleTheme" type="application/javascript">
    var toggleTheme = function toggleTheme() {
      var bodyClassList = document.body.classList;
      var sideBarClassList = document.getElementById('side-bar').classList;
      var navBarClassList = document.getElementById('nav-bar').classList;

      if(document.body.classList.contains('bg-dark')) {
        bodyClassList.remove('bg-dark');
        bodyClassList.add('bg-light');
        sideBarClassList.remove('bg-dark');
        sideBarClassList.add('bg-light');
        navBarClassList.remove('bg-dark');
        navBarClassList.add('bg-light');
      }
      else {
        bodyClassList.remove('bg-light');
        bodyClassList.add('bg-dark');
        sideBarClassList.remove('bg-light');
        sideBarClassList.add('bg-dark');
        navBarClassList.remove('bg-light');
        navBarClassList.add('bg-dark');
      }
    }
  </script>
  <script id="navbarAutoHide" type="application/javascript">
    var prevScrollpos = window.pageYOffset;

    window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
      var navbar = document.getElementById("nav-bar");
      var innerNavbar = document.getElementById("navbar");

      if (window.innerWidth <= 991) {
        if (prevScrollpos > currentScrollPos) {
          navbar.style.top = "0px";
        } else {
          navbar.style.top = "-60px";
          innerNavbar.classList.remove("show");
        }
        prevScrollpos = currentScrollPos;
      }
      else {
        navbar.style.top = "0px";
      }
    }
  </script>
</nav>
<ul th:fragment="content(currentMenu)" class="nav nav-pills flex-column mb-auto" >
  <!-- for navigation bar and off-canvas content-->
  <div class="d-flex align-items-centertext-decoration-none">
    <svg width="15" height="32"></svg>
    <span class="fs-4" style="color: black">Home</span>
  </div>

  <hr style="color: black"/>

  <li class="nav-item">
    <a class="nav-link" th:style="${currentMenu == 'hot'}? 'background-color: #11111110;'" th:href="@{/hot}">
      H Hot
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" th:style="${currentMenu == 'fresh'}? 'background-color: #11111110;'" th:href="@{/fresh}">
      F Fresh
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" th:style="${currentMenu == 'top'}? 'background-color: #11111110;'" th:href="@{/top}">
      T Top
    </a>
  </li>

  <div class="mb-3"></div>

  <div class="d-flex align-items-centertext-decoration-none">
    <svg width="15" height="32"></svg>
    <span class="fs-4" style="color: black">Section</span>
  </div>

  <hr style="color: black"/>
  <li class="nav-item">
    <a href="#" class="nav-link" th:style="${currentMenu == 'funny'}? 'background-color: #11111110;'">
      F Funny
    </a>
  </li>

  <li class="nav-item">
    <a href="#" class="nav-link" th:style="${currentMenu == 'animals'}? 'background-color: #11111110;'">
      Animals
    </a>
  </li>

  <li class="nav-item">
    <a href="#" class="nav-link" th:style="${currentMenu == 'gif'}? 'background-color: #11111110;'">
      Gif
    </a>
  </li>

  <li class="nav-item">
    <a href="#" class="nav-link" th:style="${currentMenu == 'meme'}? 'background-color: #11111110;'">
      Meme
    </a>
  </li>

  <li class="nav-item">
    <a href="#" class="nav-link"th:style="${currentMenu == 'wholesome'}? 'background-color: #11111110;'">
      Wholesome
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link" th:style="${currentMenu == 'gif'}? 'background-color: #11111110;'">
      Gif
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link" th:style="${currentMenu == 'gif'}? 'background-color: #11111110;'">
      Gif
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link" th:style="${currentMenu == 'gif'}? 'background-color: #11111110;'">
      Gif
    </a>
  </li>

  <li class="nav-item">
    <a href="#" class="nav-link"th:style="${currentMenu == 'wallpaper'}? 'background-color: #11111110;'">
      Wallpaper
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link" th:style="${currentMenu == 'gif'}? 'background-color: #11111110;'">
      Gif
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link" th:style="${currentMenu == 'gif'}? 'background-color: #11111110;'">
      Gif
    </a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link" th:style="${currentMenu == 'gif'}? 'background-color: #11111110;'">
      Gif
    </a>
  </li>
</ul>
<div th:fragment="side-bar(currentMenu)" id="side-bar" class="nav d-flex sticky-top flex-column flex-shrink-0 p-3 bg-light">


  <div class="navbar-expand-lg navbar-light">
    <ul th:replace="fragments.html :: content(${currentMenu})"></ul>
  </div>

  <script id="gridForMobile" type="application/javascript" th:inline="javascript">
    resizer = function() {
      if(window.innerWidth <= 991) {
        document.getElementById('side-bar').classList.add('d-none');

        document.getElementById('side-bar-col').classList.remove('col-3');
        document.getElementById('side-bar-col').classList.add('col-0');

      }
      else {
        document.getElementById('side-bar').classList.remove('d-none');

        document.getElementById('side-bar-col').classList.remove('col-0');
        document.getElementById('side-bar-col').classList.add('col-3');

        document.getElementById("nav-bar").style.top = "0px";
      }

    };

    window.onload = resizer;
    window.onresize = resizer;
  </script>
</div>
<div th:fragment="off-canvas(currentMenu)" id="off-canvas">
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" style="width: 250px;" aria-labelledby="offcanvasLabel">

    <div class="offcanvas-header bg-dark">
      <h5 class="offcanvas-title text-light" style="height: 24px;">SweetMeme</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body bg-light text-white">
        <ul th:replace="fragments.html :: content(${currentMenu})"></ul>
    </div>
  </div>
</div>
<div th:fragment="profileInfo(member)">
  <div class="row">
    <div class="col-2">
      <a th:href="@{/}">
      <svg th:if="${member?.memberInfo.picImage} == null" th:data-jdenticon-value="${member.nickname}"
           width="50" height="50" class="rounded border bg-light"></svg>
      <img th:if="${member?.memberInfo.picImage} != null" th:src="${member.nickname}"
           width="24" height="24" class="rounded border"/>
      </a>
    </div>
    <div class="col-10">
      <div th:text="${member.nickname}"></div>
      <small class="text-muted" th:text="${member.email}"></small> · <small class="text-muted" th:text="${spendDate} + ' days'"></small>
    </div>
  </div>
  <p class="mt-2" th:text="${member.memberInfo.description}"></p>
</div>
<div th:fragment="profileTab(profileMenu)">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" th:classappend="${profileMenu == 'home'}? active" aria-current="page" href="#"
         th:href="@{'/user/' + ${member.nickname}}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:classappend="${profileMenu == 'posts'}? active" aria-current="page" href="#"
         th:href="@{'/user/' + ${member.nickname} + '/posts'}">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:classappend="${profileMenu == 'comments'}? active" href="#"
         th:href="@{'/user/' + ${member.nickname} + '/comments'}">Comments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:classappend="${profileMenu == 'upvotes'}? active" href="#"
         th:href="@{'/user/' + ${member.nickname} + '/upvotes'}">Upvotes</a>
    </li>
  </ul>
</div>
<script th:fragment="form-validation" type="application/javascript">
  (function () {
    'use strict';

    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');

      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated')
        }, false)
      })
    }, false)
  }())
</script>
<!----------------------------------------------------------------------------------------->

</html>
