<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-------------------------- fragments ---------------------------------------------------->
<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Bootstrap CSS -->
  <title>Sweet Meme</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />

  <style>
    .container {
      width: 75%;
    }

    @media (max-width: 974px) {
      .container {
        width: 100%;
      }
    }
    #side-bar {
      top: 70px;
      position: sticky;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
    }
    a:hover {
      color: chartreuse;
    }
  </style>

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>
<div th:fragment="content(currentMenu)">
  <ul class="nav nav-pills flex-column mb-auto" >
    <li class="nav-item">
      <a href="#" class="nav-link text-white" th:classappend="${currentMenu == 'hot'}? active">
        <svg class="bi me-2" width="16" height="16"></svg>
        H Hot
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link text-white" th:classappend="${currentMenu == 'fresh'}? active">
        <svg class="bi me-2" width="16" height="16"></svg>
        F Fresh
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link text-white" th:classappend="${currentMenu == 'top'}? active">
        <svg class="bi me-2" width="16" height="16"></svg>
        T Top
      </a>
    </li>

    <hr>

    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="30" height="32"></svg>
      <span class="fs-4">Section</span>
    </div>

    <li class="nav-item">
      <a href="#" class="nav-link text-white" th:classappend="${currentMenu == 'funny'}? active">
        <svg class="bi me-2" width="16" height="16"></svg>
        F Funny
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link text-white" th:classappend="${currentMenu == 'animals'}? active">
        <svg class="bi me-2" width="16" height="16"></svg>
        Animals
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link text-white" th:classappend="${currentMenu == 'gif'}? active">
        <svg class="bi me-2" width="16" height="16"></svg>
        Gif
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link text-white" th:classappend="${currentMenu == 'meme'}? active">
        <svg class="bi me-2" width="16" height="16"></svg>
        Meme
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link text-white" th:classappend="${currentMenu == 'wholesome'}? active">
        <svg class="bi me-2" width="16" height="16"></svg>
        Wholesome
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link text-white" th:classappend="${currentMenu == 'wallpaper'}? active">
        <svg class="bi me-2" width="16" height="16"></svg>
        Wallpaper
      </a>
    </li>
  </ul>
</div>
<nav th:fragment="nav-bar" id="nav-bar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
  <div class="container">

    <a class="navbar-brand" href="#" th:href="@{/}">SweetMeme</a>

    <a class="navbar-toggler btn me-auto" data-bs-toggle="offcanvas"
       href="#offcanvas" role="button" aria-controls="offcanvas">
      Section
    </a>
    <!-- 작은화면 메뉴 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbar">

      <!-- 좌측 컨텐츠 -->
      <ul id="nav-left-content" class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>


      <!-- 우측 컨텐츠 -->
      <ul class="navbar-nav .justify-content-end">
        <li class="nav-item">
          <a class="nav-link" onclick="toggleTheme();">toggleTheme</a>
        </li>
        <!-- 게스트 -->
        <li class="nav-item" sec:authorize="!isAuthenticated()">
          <a class="nav-link" href="#" th:href="@{/login}">Log in</a>
        </li>

        <li class="nav-item" sec:authorize="!isAuthenticated()">
          <a class="nav-link" href="#" th:href="@{/sign-up}">Sign up</a>
        </li>



        <!-- 멤버 -->
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" href="#" th:href="@{/notifications}">
            noti
          </a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" href="#" th:href="@{/upload}">
            + upload
          </a>
        </li>

        <!-- 유저 드롭다운 메뉴 -->
        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown"
             aria-expanded="false" sec:authentication="name">UserDropdown</a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown07">

            <li><a class="dropdown-item" href="#">내 프로필</a></li>
            <li><a class="dropdown-item" href="#">설정</a></li>
            <li><a class="dropdown-item" href="#">좋아요</a></li>
            <li>
              <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                <button class="dropdown-item" type="submit">로그아웃</button>
              </form>
            </li>
            <li><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;&nbsp; SWEETMEME © 2021</span></li>
          </ul>
        </li>



      </ul>
    </div>
  </div>
  <script type="application/javascript">
    var toggleTheme = function toggleTheme() {
      var bodyClassList = document.body.classList;
      var sideBarClassList = document.getElementById('side-bar').classList;
      var navBarClassList = document.getElementById('nav-bar').classList;

      if(document.body.classList.contains('bg-dark')) {
        bodyClassList.remove('bg-dark');
        bodyClassList.add('bg-light');
        sideBarClassList.remove('bg-dark');
        sideBarClassList.add('bg-light');
        navBarClassList.remove('bg-dark');
        navBarClassList.add('bg-light');
      }
      else {
        bodyClassList.remove('bg-light');
        bodyClassList.add('bg-dark');
        sideBarClassList.remove('bg-light');
        sideBarClassList.add('bg-dark');
        navBarClassList.remove('bg-light');
        navBarClassList.add('bg-dark');
      }
    }
  </script>
</nav>
<div th:fragment="side-bar(currentMenu)" id="side-bar" class="d-flex sticky-top flex-column flex-shrink-0 p-3 text-white bg-dark" >
  <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg width="20" height="32"></svg>
    <span class="fs-4">SweetMeme</span>
  </div>
  <hr>

  <div th:replace="fragments.html :: content(${currentMenu})"></div>

  <script type="application/javascript" th:inline="javascript">
    resizer = function() {
      if(window.innerWidth <= 991) {
        document.getElementById('side-bar').classList.add('d-none');

        document.getElementById('side-bar-col').classList.remove('col-3');
        document.getElementById('side-bar-col').classList.add('col-0');

      }
      else {
        document.getElementById('side-bar').classList.remove('d-none');

        document.getElementById('side-bar-col').classList.remove('col-0');
        document.getElementById('side-bar-col').classList.add('col-3');
      }

    };

    window.onload = resizer;
    window.onresize = resizer;
  </script>
</div>
<div th:fragment="off-canvas(currentMenu)" id="off-canvas">


  <div class="offcanvas offcanvas-start" th:width="25px" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">

    <div class="offcanvas-header">
      <h5 class="offcanvas-title">SweetMeme</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body bg-dark">
      <ul class="nav nav-pills flex-column mb-auto" >
        <div th:replace="fragments.html :: content(${currentMenu})"></div>
      </ul>
    </div>
  </div>
</div>
<script th:fragment="form-validation" type="application/javascript">
  (function () {
    'use strict';

    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');

      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated')
        }, false)
      })
    }, false)
  }())
</script>

<!----------------------------------------------------------------------------------------->
</html>
