<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-dark">
<div th:replace="fragments.html :: nav-bar"></div>
<div th:replace="fragments.html :: off-canvas(currentMenu='hot')"></div>
<div class="container">

    <div class="row justify-content-center">
        <div class="col-3" id="side-bar-col" style="padding: 0px;">
            <div th:replace="fragments.html :: side-bar(currentMenu='hot')"></div>
        </div>
        <div class="col" id="content-col" style="background-color: blueviolet; height: 3000px">

        </div>
    </div>

    <script>

    </script>
</div>
</body>
</html>