<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
  <style>
    small {
      display: block;
    }
  </style>
</head>
<body class="bg-light">
<div th:replace="fragments.html :: off-canvas('upload')"></div>
<div th:replace="fragments.html :: nav-bar"></div>
<div class="container">

  <div class="py-5 text-center">
    <p class="lead mt-4">S w e e t M e m e</p>
    <h2>Upload a Post</h2>
  </div>

  <div class="row justify-content-center">

    <form class="needs-validation col-sm-6" action="#" th:object="${uploadForm}" th:action="@{/upload/post}" method="post" enctype="multipart/form-data" novalidate>

      <div th:if="${param.error}" class="alert alert-danger" role="alert"
           th:text="#{login.error}" style="text-align: center">에러
      </div>

      <div class="mb-3 form-group">
        <label for="title" class="form-label" th:text="#{upload.title}">제목</label>
        <input type="text" class="form-control" id="title" name="title" th:field="*{title}"
               aria-describedby="titleHelp" required minlength="5" maxlength="50"/>
        <small id="titleHelp" class="form-text text-muted" th:text="#{upload.title.help}">
          5 ~ 50자 이내로 입력하세요.
        </small>
        <small class="invalid-feedback" th:text="#{upload.title.blank}">타이틀을 입력하세요.</small>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
          너무 짧거나 길다
        </small>
      </div>

      <div id="ACCEPTABLE_FILE_TYPES" th:text="*{ACCEPTABLE_FILE_TYPES}" hidden></div>
      <div class="mb-3 form-group" id="fileUploadForm">
        <label for="file" class="form-label" th:text="#{upload.file}">업로드 파일</label>
        <input type="file" class="form-control" name="file" id="file" th:accept="*{ACCEPTABLE_FILE_TYPES}"
               aria-describedby="fileHelp" th:field="*{file}" oninput="fileValidation()" required />
        <div id="thumbnail" class="md-4" style="display: none; background-color: #CCCCCC; height: 300px">
          [ 추가된 업로드 이미지 썸네일 ]
        </div>
        <small id="fileHelp" class="form-text text-muted" th:text="#{upload.file.info}">
          10mb 이하의 .mp4, .jpg, .gif, .webp 형식만 선택가능합니다.
        </small>
        <small class="invalid-feedback" th:text="#{common.file.help}">업로드 할 파일을 선택하세요.</small>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('file')}" th:errors="*{file}">
          빈파일 | 정의되지 않은 확장자
        </small>
      </div>

      <div id="tagWhitelist" th:text="${tagWhitelist}" hidden></div>
      <div class="mb-3 form-group">
        <label for="tags" class="form-label" th:text="#{upload.tags}">태그</label>
        <input type="text" id="tags" class="form-control" name="tags" aria-describedby="tagsHelp" th:field="*{tags}"/>
        <small id="tagsHelp" class="form-text text-muted" th:text="#{upload.tags.help}">
          태그는 옵션입니다.
        </small>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}">
          너무 짧거나 길다
        </small>
      </div>

      <div id="sectionWhitelist" th:text="${sectionWhitelist}" hidden></div>
      <div class="mb-3 form-group">
        <label for="sections" class="form-label" th:text="#{upload.sections}">섹션</label>
        <input type="text" id="sections" class="form-control" name="sections"
               th:placeholder="#{upload.sections.placeholder}" aria-describedby="sectionsHelp" th:field="*{sections}" required/>
        <small class="invalid-feedback" th:text="#{upload.sections.help}"></small>
        <small class="form-text text-danger" th:if="${#fields.hasErrors('sections')}" th:errors="*{sections}">
          빈 섹션 | 정의되지 않은 섹션
        </small>
      </div>

      <div class="mt-5 form-group"></div>
      <div class="form-group mb-3 d-grid gap-2">
        <button class="btn btn-primary" type="submit" th:text="#{upload}">업로드</button>
      </div>

    </form>
  </div>
</div>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script th:replace="fragments.html :: form-validation"></script>
<script th:src="@{/node_modules/@yaireo/tagify/dist/tagify.min.js}"></script>
<script id="whitelistAndValidation">

  var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

  // getting Tag whitelist
  var tagInput = document.querySelector('input[name="tags"]');
  var tagifyForTag = new Tagify(tagInput, {
    pattern: /^.{0,20}$/,
    delimiters: ",| |\\n|\\r",
    whitelist: JSON.parse(document.querySelector("#tagWhitelist").textContent),
    maxTags: 3,
    maxLength: 20,
    dropdown : {
      maxItems: 10,
      classname: "tags-look",
      enabled: 0,
      closeOnSelect: false
    }
  });

  // getting Section whitelist
  var sectionInput = document.querySelector('input[name="sections"]');
  var tagifyForSection = new Tagify(sectionInput, {
    pattern: /^.{0,20}$/,
    delimiters: ",| |\\n|\\r",
    whitelist: JSON.parse(document.querySelector("#sectionWhitelist").textContent),
    userInput: false,
    maxTags: 1,
    dropdown : {
      classname: "tags-look",
      enabled: 0,
      closeOnSelect: true
    }
  });

  // async section validation
  function sectionRequest(url, sectionName) {
    $.ajax({
      dataType: "json",
      autocomplete: {
        enabled: true,
        rightKey: true,
      },
      contentType: "application/json; charset=utf-8",
      method: "POST",
      url: contextPath + "/upload/section-tag" + url,
      data: JSON.stringify({'sectionName': sectionName})
    }).done(function (data, status) {
      console.log("${data} and status is ${status}");
    });
  }
  function onAdd(e) {
    sectionRequest("/verify", e.detail.data.value);
  }

  tagifyForSection.on("add", onAdd);

  // file size validation - 10mb
  function fileValidation() {
    let innerText = document.getElementById('ACCEPTABLE_FILE_TYPES').innerText;
    let receivedType = document.getElementById('file').files[0].type;
    let acceptableTypes = innerText.split(', ');

    var isAcceptableType = false;

    acceptableTypes.forEach(type => {
      if(type === receivedType) {
        isAcceptableType = true;
      }
    })

    if (!isAcceptableType) {
      alert('업로드 할 수 없는 형식의 확장자입니다.');
      $('#file').val('');
      return;
    }

    var maxSize = 10 * 1024 * 1024;
    fileSize = document.getElementById('file').files[0].size;

    if(fileSize > maxSize) {
      // TODO 에러추가 현재는 alert
      alert('10mb 이하의 이미지를 선택해주세요.');
      $('#file').val('');
    } else {
      thumbnail();
    }

  }

</script>
<script id="thumbnailScript">
  var thumbnail = function () {
    document.getElementById('thumbnail').style.removeProperty('display');
    document.getElementById('file').setAttribute('hidden', '');
    // document.getElementById('fileHelp').setAttribute('hidden', '');
  }
</script>
</body>
</html>
