<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body onload="gridLazyView()" class="bg-light">
<div id="contentPadding" style="height: 70px"></div>
<div th:replace="fragments.html :: nav-bar"></div>
<div th:replace="fragments.html :: off-canvas(currentMenu=${currentMenu})"></div>
<div class="container">
    <div id="gridContent" class="row justify-content-center row-col-md-auto d-none" >
        <div class="col-3 d-none" id="side-bar-col" style="padding: 0px;" >
            <div th:replace="fragments.html :: side-bar(currentMenu=${currentMenu})"></div>
        </div>
        <div class="col" id="content-col">
            <section th:replace="fragments.html :: postSection"></section>
        </div>
    </div>
    <script th:src="@{/node_modules/jdenticon/dist/jdenticon.min.js}"></script>
    <script th:replace="fragments.html :: ajax-csrf-header"></script>
    <script th:replace="fragments.html :: videoAutoPlay"></script>
    <script th:replace="fragments.html :: voteAjax"></script>
    <script type="text/javascript">
        var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

        var login = function () {
            location.href = contextPath + '/login';
        };
    </script>
</div>

</body>
</html>