<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
<div id="contentPadding" style="height: 70px"></div>
<div th:replace="fragments.html :: nav-bar"></div>
<div th:replace="fragments.html :: off-canvas(currentMenu=${currentMenu})"></div>
<div class="container">
    <div id="gridContent" class="row justify-content-center row-col-md-auto d-none mt-4" >
        <div class="col-3 d-none" id="side-bar-col" style="padding: 0px;" >
            <div th:replace="fragments.html :: side-bar(currentMenu=${currentMenu})"></div>
        </div>
        <div class="col" id="content-col">
            <div th:if="${sectionInfo != null}">
                <div class="row">
                    <div class="col-2">
                        <img th:src="@{'/sections/' + ${sectionInfo.picImage}}" class="rounded" width="100%" style="min-width: 70px"/>
                    </div>
                    <div class="col ms-3">
                        <h2 th:text="${sectionInfo.head}" style="display: inline" class="fw-bold "></h2>
                        <br/>
                        <p class="my-3" th:text="#{'section.' + ${sectionInfo.head.toLowerCase()} + '.description'}"></p>
                    </div>
                    <div class="mb-2"></div>
                    <hr/>
                </div>
            </div>
            <div id="postSectionPlacer">
                <section th:replace="fragments.html :: postSection"></section>
            </div>

        </div>
    </div>
    <script th:src="@{/node_modules/jdenticon/dist/jdenticon.min.js}"></script>
    <script th:replace="fragments.html :: ajax-csrf-header"></script>
    <script th:replace="fragments.html :: voteAjax"></script>

    <script th:replace="fragments.html :: videoAutoPlay"></script>
    <script title="ajax more posts" th:inline="javascript">
        var win = $(window);
        var doc = $(document);
        var morePostAjaxFlag = false;
        win.scroll(function () {
            var diff = doc.height() - win.height() - 100;

            if(win.scrollTop() >= diff) {
                if(morePostAjaxFlag == true) return;
                morePostAjaxFlag = true;

                var page = $('#postSectionPlacer').children(".postSection").length;
                console.log(page)
                /*<![CDATA[*/
                var currentMenu = /*[[${currentMenu}]]*/ 'default';
                /*]]>*/

                if(currentMenu == null) return;

                $.ajax({
                    method: "GET",
                    url: contextPath + "/post/slice/" + currentMenu + "/" + page,
                    processData: false
                }).done(function (div) {
                    if(div.includes('<article'))
                        $('#postSectionPlacer').append(div);

                    setTimeout(() => morePostAjaxFlag = false, 1000);
                })
            }
        });
    </script>
</div>
</body>
</html>